body{
	margin: 0;
	font-family: "Source Sans Pro",sans-serif;
}
header{
	background-color: #09f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
	position: fixed;
    width: 100%;
    top: 0;
}
footer{
    background-color: #09f;
    text-align: center;
    padding: 15px 0;
}
h1{
	font-size: 30px;
}
h1, .section-title, .section-description{
	margin: 0;
	color: #fff;
}
#portrait{
	background: url(../img/lindon_jonhson.jpg) no-repeat center;
	color: transparent;
    background-size: 110%;
	text-indent: -9999px;
    display: inline-block;
    border-radius: 43px;
    height: 86px;
    width: 86px;
}
.copyright{
    margin: 0;
    color: #fff;
    font-size: .9em;
}
.section-title{
    display: inline-block;
    padding: 0 0 2px 0;
    border-bottom: 1px solid #fff;
    font-size: 1.5em;
    margin: 23px 0;
}
#about-me{
    background: url(../img/sao_paulo.jpg) no-repeat center;
    background-size: auto 100%;
    text-align: center;
    padding: 10px 10px;
}
#what-i-do{
	background-color: green;
    background-size: auto 100%;
    text-align: center;
    padding: 10px 10px;
}
#portfolio{
	background-color: yellow;
    background-size: auto 100%;
    text-align: center;
    padding: 10px 10px;
}
#contact-me{
	background-color: blue;
    background-size: auto 100%;
    text-align: center;
    padding: 10px 10px;
}
.container{
	margin-top: 135px;
}
/*HERE COMES THE MEDIA QUERIES AND THE PROGRESSIVE ENHACEMENT*/
@media (min-width:465px) {
	#about-me{
		background-size: 100% auto;	
	}
}