/*http://www.colourlovers.com/palette/3212733/Grow_apart*/

body{
	margin: 0;
	font-family: "Source Sans Pro",sans-serif;
}
header{
	background-color: #09f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
	position: fixed;
    width: 100%;
    top: 0;
}
header h1{
    display: inline-block;
    line-height: 65px;
}
footer{
    background-color: #09f;
    text-align: center;
    padding: 15px 0;
}
h1{
	font-size: 30px;
}
h1, .section-title, .section-description{
	margin: 0;
	color: #fff;
}
.header{
    position: relative;
}
.section-title, .section-description{
    padding: 10px;
    background: rgba(0,0,0,0.5);
}
#portrait{
	background: url(../img/lindon_jonhson.jpg) no-repeat center;
	color: transparent;
    background-size: 110%;
	text-indent: -9999px;
    display: inline-block;
    border-radius: 43px;
    height: 65px;
    width: 65px;
}
.copyright{
    margin: 0;
    color: #fff;
    font-size: .9em;
}
.section-title{
    display: inline-block;
    font-size: 1.5em;
    margin: 23px 0;
}
#about-me{
    background: url(../img/sao_paulo.jpg) no-repeat center;
    background-size: auto 100%;
    text-align: center;
    padding: 10px 10px;
}
#what-i-do{
	background-color: #6C8291;
    background-size: auto 100%;
    text-align: center;
    padding: 10px 10px;
}
#portfolio{
	background-color: red;
    background-size: auto 100%;
    text-align: center;
    padding: 10px 10px;
}
#contact-me{
	background-color: #464242;
    background-size: auto 100%;
    text-align: center;
    padding: 10px 10px;
}
.content{
	margin-top: 85px;
}
#what-i-do .section-description h2#java-logo{
    background: url(../img/java.png) no-repeat center #fff;
    background-size: 80%;
}
#what-i-do .section-description h2#css3-logo{
    background: url(../img/css3.png) no-repeat center #fff;
    background-size: 80%;
}
#what-i-do .section-description h2#html5-logo{
    background: url(../img/html5.png) no-repeat center #fff;
    background-size: 80%;
}
#what-i-do .section-description h2#javascript-logo{
    background: url(../img/javascript.png) no-repeat center #fff;
    background-size: 70%;
}
#what-i-do .section-description h2{
    text-indent: -9999px;
    color:transparent;
    display: block;
    width: 50%;
    height: 10em;
    text-align: center;
    margin: 5% auto;
    border-radius: 50%;
}
/*This should be deleted aftes i insert the porfolio part*/
.section-description img{
    width: 60%;
}
/*HERE COMES THE MEDIA QUERIES AND THE PROGRESSIVE ENHACEMENT*/
@media (min-width:465px) {
    .container{
        width: 70%;
        margin: 0 auto;
    }
	#about-me{
		background-size: auto;	
	}
    #what-i-do .section-description h2{
        text-indent: -9999px;
        color:transparent;
        display: inline-block;
        width: 90px;
        height: 100px;
        text-align: center;
        margin: 10px;
        border-radius: 50%;
    }
    .section-description img{
        width: 30%;
    }
}